@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


.container-for-width {
    font-family: 'Montserrat', sans-serif;
    width: 1280px;
    margin: 0 auto;
}

.container-for-background {
    background-image: url("../img/backgroundImg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/* HEAD BLOCK */

.head-block {
    background-image: url("../img/headImg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 600px;
    padding-bottom: 100px;
    color: white;
}

.head-block-title {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

.head-block-subtitle {
    font-size: 18px;
    margin-bottom: 30px;
}

.head-block-slogan {
    display: inline-block;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 45px 35px;
    border: 1px solid white;
    background-color: rgba(0,0,0,0.5);
}

.slogan-margin {
    margin-right: 50px;
}

/* Basic block */

.basic-block {
    text-align: center;
    color: #333;
    padding: 70px 0;
}

.basic-block-title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}

.basic-block-subtitle {
    font-weight: normal;
    font-size: 17px;
    margin-top: 35px;
}

.basic-block-line {
    border-top: 3px solid #f1ad1d;
    width: 60px;
    margin: 50px auto;
}

.webAward {
    opacity: 0.9;
}

/* Nav bar */

.nav-bar {
    border-bottom: 2px solid #f1ad1d;
    padding-bottom: 15px;
}

.nav-bar-logo{
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    margin-right: 250px;
    vertical-align: middle;
}

.nav-bar-menu{
    display: inline-block;
    text-align: right;
}

.nav-bar-link {
    font-size: 18px;
    margin: 0 30px;
    color: #646464;
}

.nav-bar-link:hover {
    color: #f1ad1d;
}

.nav-bar-link:hover > .arrow{
    border-top-color: #f1ad1d;
}

.arrow {
    display: inline-block;
    border: 5px solid transparent;
    border-top: 5px solid black;
    margin-left: 5px;
}

.mr0{
    margin-right: 0;
}

.yellow-top-border {
    border-top-color: #f1ad1d;
}

/* Businesses */

.businesses-img {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.businesses-img > div {
    display: inline-block;
    width: 270px;
    height: 150px;
    margin-bottom: 20px;
    margin-right: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.consulting-bg {
    background-image: url("../img/consulting.png");
}

.web-design-bg {
    background-image: url("../img/webdesign.png");
}

.photography-bg {
    background-image: url("../img/photography.png");
}

.advertising-bg {
    background-image: url("../img/advertising.png");
}

.businesses-img span {
    display: inline-block;
    width: 115px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    background-color: black;
    margin-top: 95px;
    margin-left: 15px;
    color: white;
}

.businesses-text {
    display: inline-block;
    width: 49%;
}

.businesses-text-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.businesses-text > p {
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 35px;
}

.businesses-text > p ~ a {
    font-size: 14px;
    color: white;
    text-transform: capitalize;
    padding: 20px 25px;
    background: #f1ad1d;
}

.yellow-text {
    color: #f1ad1d;
}
/* Products */

.products {
    padding: 100px 0;
}

.products-item {
    width: 270px;
    text-align: center;
    border-bottom: solid 3px black;
    padding-bottom: 35px;
    float: left;
    margin: 0 25px 0 25px;
}

.item-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 0;
    background-color: #333333;
    color: white;
}

.products-line {
    width: 60px;
    display: inline-block;
    border-top: #f1ad1d solid 3px;
    margin: 20px 0;
}

.products-title-text {
    font-size: 18px;
    margin-bottom: 16px;
}

.products-item-text {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
}

.products-title-description {
    font-size: 14px;
}

.products-text-container {
    font-family: 'Lato', sans-serif;
    width: 130px;
    display: inline-block;
}

.products-item-icon {
    font-size: 45px;
    margin: 30px 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

